body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ADD8E6; /* Light Blue Background */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.about,
.experience,
.education {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 10px 0;
}

.profile-picture {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Set the height to match the width to ensure it's a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fills the entire space */

}
